header {
    background-color: #f04e30;
    color: white;
    padding: 1rem 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    position: fixed;
}


.navigation-wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 20px;
}



header > .navigation-wrapper > .nav-link > a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    padding-right: 10px;
    width: 97px;
    font-size: large;
    font-weight: bold;
    transition: 0.5s;
}

header > .navigation-wrapper > .nav-link > a:hover {
    color: rgba(255, 255, 255, 0.658);
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

@media (max-width: 768px){
    .navigation-wrapper{
        display: none;
    }

    header{
        justify-content: center;
        position: relative;
        width: auto;
    }

    
}
